<div class="header">
    <a class="header_elem header_elem_image" href="airline.php">
        <img class="header_elem" src="./img/plane.png" />
    </a>
    <a class="header_elem" href="airline.php">
        <h1>Airline</h1>
    </a>
    <a class="header_elem" href="search_flights.php">
        <h1>Search Flights</h1>
    </a>
    <a class="header_elem" href="add_flight.php">
        <h1>Add Flight</h1>
    </a>
    <a class="header_elem" href="update_flight.php">
        <h1>Update Flight</h1>
    </a>
    <a class="header_elem" href="average_seats.php">
        <h1>Get Average Seats</h1>
    </a>
</div>