.add_flight {
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 60vw;
    margin: auto;
}

.options {
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.add_flight_fancy {
    font-family: 'Tangerine', serif;
    font-size: 2em;
}

.add_flight_code {
    height: 5vh;
}

.add_flight_airplane {
    width: 20vw;
}

.add_flight_arrow {
    height: 10vh;
}

.add_flight_select_airline {
    display: block;
    background-color: unset;
    border-radius: 5px;
    box-shadow: 5px 5px turquoise;
}

.add_flight_select_airline:hover {
    cursor: pointer;
}

.add_flight_submit {
    /* display: block; */
    background-color: unset;
    border-radius: 5px;
    box-shadow: 5px 5px teal;
    font-size: 2em;
}